.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: var(--gap-lg) 0;
}
.footer {
  position: sticky;
  top: 0;
  background: var(--color-dark);
}

.footer p {
  color: var(--color-bg-main);
}

.footer a > p {
  color: var(--color-primary);
}

.logoText {
  fill: var(--color-bg-main);
}
