.container {
  padding: var(--gap-4xl) var(--gap-3xl);
  background: var(--color-bg-main);
  width: 600px;
  box-shadow: var(--shadow-main);
  display: flex;
  flex-direction: column;
  gap: var(--gap-2xl);
  margin-bottom: var(--gap-xs);
}

.greetings {
  display: flex;
  gap: var(--gap-xs);
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}
